{% extends 'base.html' %}
{% load static %}
{% block content %}
							<!-- Content -->
								<section>
									<header class="main">
										<h1>{{ recipe.title }}</h1>
									</header>

									<span class="image main"><img src="{{ recipe.get_image }}" style="width: 200px; height: 200px;" alt="" /></span>

									<p>Posted: {{ recipe.created}}</p>
									<p>Author: {{ recipe.user}}</p>
									<p>Cooking time {{ recipe.cooking_time}} min</p>

									<hr class="major" />
									{% for photo in images %}
									<img src="{{ photo }}" class="img-thumbnail" style="width: 360px; height: 360px;" alt="...">
									{% endfor %}
									<h2>Steps</h2>
									<p>{{ recipe.description}}</p>
									<a href="{% url 'update-recipe' recipe.id %}"><i class="fas fa-edit"></i></a>
									<a href="{% url 'delete-recipe' recipe.id %}"><i class="fas fa-trash-alt"></i></a>
								</section>
{% endblock %}